<div id="relatorio-container" class="relatorio__container">

    <div class="relatorio__titulo">
        <h3>Relatorio de Base</h3>
    </div>
    <div class="relatorio__table">
        <table id="relatorio__table">
            <thead>
                <tr>
                    <th ng-repeat="n in head"><% n.th %></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in body">
                    <td><% n.Protocolo %></td>
                    <td><% n.Data_Hora_criacao %></td>
                    <td><% n.Data_Hora_atribuicao %></td>
                    <td><% n.Bot %></td>
                    <td><% n.Cliente %></td>
                    <td><% n.CPF %></td>
                    <td><% n.Canal %></td>
                    <td><% n.Fila %></td>
                    <td><% n.Classificacao %></td>
                    <td><% n.Responsavel %></td>
                    <td><% n.Transferencia %></td>
                    <td><% n.Status %></td>
                    <td><% n.SLA %></td>
                    <td><% n.Status_SLA %></td>
                    <td><% n.Data_Hora_finalizacao %></td>
                    <td><% n.Tempo_de_atendimento %></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
